* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
}

main {
  width: 100%;
}

.container {
  width: 100%;
  background-color: white;
}

.back {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}
.back__icon {
  margin-right: 10px;
}

.img__container {
  width: 100%;
}
.img__image {
  width: 100%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.text__detail {
  font-size: 1rem;
  color: #a09494;
  margin: 5px 0;
}

.new__title {
  font-weight: 600;
  margin: 0 10px;
}
.new__text {
  margin: 0 10px 20px;
}

.pill {
  text-transform: uppercase;
  font-size: 1rem;
  color: #4242e2;
  background-color: #c3d5f6;
  border-radius: 50px;
  width: 120px;
  padding: 5px 10px;
  margin: 10px;
}

.reactions {
  padding-left: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  font-size: 1.6rem;
  background-color: #f6f0f0;
}
.reactions__item {
  margin: 0 5px;
}
.reactions__title {
  margin: 0 10px;
  margin-bottom: 10px;
}
